:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CUSTOM VARIABLES */
  --primary-color: #ef4723;
  --bg-color-success: #9ee89e;
  --bg-color-error: red;
  --success-color: green;
  --error-color: red;
}